<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../Librerias/angular.min.js"></script>
    <script src="../Librerias/jquery-3.1.1.min.js"></script>
    <link href="../Librerias/bootstrap-3.3.7-dist/css/bootstrap-theme.css" rel="stylesheet" type="text/css"/>
    <link href="../Librerias/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <script src="../Librerias/bootstrap-3.3.7-dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="service.js"></script>
    <script src="controller.js"></script>
    <link rel="stylesheet" href="sintesis.css">
</head>
<body ng-app="myApp" ng-controller="control">
<div class="container">
    <div class="row">
        <div class="page-header">
            <h1>PARTE DE ANGULAR{{algo}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            Equipo: <input>
            <br>
            Victorias: <input>
            <br>
            Derrotas: <input>
            <br>
            Tipo de juego: <input>
            <br>
            <button>Crear equipo</button>
        </div>
        <div class="col-lg-6">
            Jugador: <input>
            <br>
            puntos: <input>
            <br>
            nick: <input>
            <br>
            Funcion principal: <input>
            <br>
            <button>Añadir/Modificar jugadores</button>
        </div>
        <div class="col-lg-6">

        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-lg-4">
                <h3>Nombre del equipo:</h3>
                <select ng-model="selected">
                    <option ng-repeat="option in teams" value="option">{{teams[option].nombre}}</option>
                </select>
            </div>
            <div class="col-lg-4">
                Victorias:
                <br>
                Derrotas:
            </div>
            <div class="col-lg-4">
                Tipo de juego:
                <br>
                PlayerMaxPuntos:
            </div>
        </div>
        <div class="row">
            <div class="row">
                <div class="col-xs-1">

                </div>
                <div class="col-xs-2">
                    Puntos
                </div>
                <div class="col-xs-3">
                    Nick
                </div>
                <div class="col-xs-3">
                    Nombre
                </div>
                <div class="col-xs-3">
                    Funcion
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>