/*html,body,.container{
   width: 100%;
    height: 100%;
    padding: 0;
}*/
.container{
    width: 96%;
}
div{
    padding: 0;
}
/*body{
   background-image: url(Fondos-de-escritorio-estrellas-In-espacio-01-1080x1920.jpg); 
} */
#espai{
    background-image: url(Fondos-de-escritorio-estrellas-In-espacio-01-1080x1920.jpg);
    background-size: cover;
    display: none;
    width: 70%;
    height: 70%;
    position: absolute;
    left: 200px;
    top: 160px;
    z-index: 2;
    overflow: hidden;
}
#hud{
    display: none;
}
#subject{
    width: 15%;
    height: 20%;
    position: absolute;
    z-index: 3;
}
#puntos{
    //background-color: black;
    width: 100%;
    height: 100%;
    text-align: center;
}
#global{
    width: 100%;
    height: 100%;
    margin: 0;
}
#start{
    display: none;
}
#fondo{
    display: none;
    width: 100%;
    height: 100%;
    background-color: gray;
    z-index: 1;
    position: absolute;
    top: 0;
    opacity: 0.7;
}
.enemy{
    position: absolute;
    width: 100px;
    height: 60px;
}
#escudo{
    display: inline-block;
    width: 250px;
    height: 20px;
    border: solid black 3px;
    border-radius: 10px;
    position: absolute;
}
#salud{
    display: inline-block;
    background-color: blue;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
}
#tope{
    z-index: 10;
    position: relative;
}
#points{
    display: inline-block;
}
#gameOver{
    background-image: url(maxresdefault.jpg);
    background-size: cover;
    display: none;
    width: 70%;
    height: 70%;
    position: absolute;
    left: 200px;
    top: 160px;
    overflow: hidden;
}
audio{
    display: none;
}